body {
  background-image: url("/public/image/space4.jpg");
  background-size: cover;
  background-color: rgb(45, 45, 45);
  font-weight: 1000;
  color: beige;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: beige;
}
