.calendar button {
  color: rgb(170, 190, 249);
}

.rbc-btn-group .rbc-active {
  color: black;
}

.rbc-off-range-bg {
  background-color: rgba(133, 156, 226, 0.6);
}

.rbc-month-row .rbc-row-bg .rbc-today {
  background-color: rgba(133, 156, 226, 0.8);
}

.rbc-today {
  background-color: rgba(133, 156, 226, 0.8);
}

h1,
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.event-form input {
  margin: 10px 30px;
}

.event-form label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.event-form button {
  border-radius: 5px;
}
