.habits-tracker {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  border-radius: 15px;
  width: 100%;
}

th,
td {
  border: 1px solid #e0e0e0;
  text-align: left;
  padding: 8px;
  font-size: 20px;
}

th {
  background-color: rgb(150, 150, 150);
  text-align: center;
  color: black;
}

td {
  background-color: rgb(59, 59, 59);
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 20px;
}

input {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

button {
  background-color: rgb(255, 255, 255, 0.8);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: #000;
}

.delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  background-color: rgb(59, 59, 59);
  color: white;
  letter-spacing: 1px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.reset-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  background-color: rgb(59, 59, 59);
  color: white;
  letter-spacing: 1px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.day {
  width: 40px;
}

.box-green {
  background-color: rgba(0, 128, 0, 0.75);
}

.box-blue {
  background-color: rgba(0, 0, 255, 0.75);
}

.box-red {
  background-color: rgba(255, 0, 0, 0.75);
}

.box-neutre {
  background-color: rgb(150, 150, 150);
}

.add-habit {
  margin: auto;
}

.color-select {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.radio-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.green {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 128, 0, 0.75);
}

.blue {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 255, 0.75);
}

.red {
  width: 30px;
  height: 30px;
  background-color: rgba(255, 0, 0, 0.75);
}

.neutre {
  width: 30px;
  height: 30px;
  background-color: rgb(150, 150, 150);
}
