.home {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.button button {
  margin: 50px;
  font-size: 20px;
}

.home h1 {
  font-size: 60px;
  letter-spacing: 4px;
}
